.post-container {
    max-width: 470px;
    width: 100%;
    margin-top: 20px;
    background-color: #000000;
    color: white;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);

    .user-info {
        padding: 10px 0 10px 0;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;
        }

        h3 {
            font-size: 14px;
            margin: 0;
            margin-left: 8px;
        }
        
        h4 {
            margin: 0;
            margin-left: 8px;
            color: rgba($color: #fff, $alpha: 0.7);
        }
    }



    .image {
        width: 100%;
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        img {
            width: 100%;
            max-width: 470px;
            max-height: 585px;
            object-fit: contain;
        }
    }

    .icons {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: 10px;
        }
    }

    .ant-input {
        margin: 4px 0 16px 0;
        padding: 0;
        background-color: transparent;
        color: white;
        border: 0;

        &:focus {
            box-shadow: none!important;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 0.6; /* Firefox */
        }
    }


}